/* Escribe aquí las clases que quieras personalizar. Consulta la documentación en http://blog.mercadoshops.com/html/#EditandoCSS */
body{
	background: url("../IMAGES/bg-wilma.jpg");
	background-color: #120701;
	font-family: 'Julius Sans One', sans-serif;
}
.wrapper{
	background:transparent;
}
.cont-redes-sociales{
	background-color: #120701;
	padding: 10px;
}
.cont-instagram {
	background-color: #fff;
	float: left;
	width: 33.5%;
	padding: 5px 0px 0px 5px;
	margin: 0px;
	height: 285px;
	-webkit-border-radius:4px;
}
.cont-pinteres{
	float: left;
	width: 64%;
	padding-left: 5px;
}
.header-top{
	background-image: url("../IMAGES/header-fondo.jpg");
	background-repeat: no-repeat;
	min-height: 294px;
}
.wrapper.top{
	padding-top: 0px;
}
#searchWrap.searchWrapper {
	position: absolute;
	margin-bottom: 0px;
	top: 2px;
	right: 0px;
	min-width: 430px;
}
.searchBar, .cartButton{
	float:left;
}
.cartButton{
	margin:5px 0px 0px 8px;
}
.navWrapper{
	margin-top: 14px;
	background-color: transparent;
}
.ch-carousel-mask {
overflow: hidden;
position: relative;
height: 310px !important;
}
.ch-carousel-pages{
	display:none;
}
.component.img-logo{
	max-height: 157px;
	max-width: 160px;
	margin-left: 47%;
	margin-top: 2.5%;
}
.component.img-logo a{
	max-width: 160px;
	width:160px;
}
.navWrapper .ch-g1-5 {
	width: 100%;
	margin-top: 12px;
	margin-left: 5%;
}
.navWrapper .ch-g4-5 {
}
.ch-dropdown{
	padding: 0px !important;
}
.mnu-wilma ul, .mnu-wilma li{
	background-color: transparent !important;
}
.component.simpleMenu li .link {
	margin: 0px;
}
.mnu-wilma li a{
	color: #d0c7be;
	font-size: 1.4em;
	font-weight: 300;
	text-decoration: none;
	margin-right: 18px !important;
	text-transform: uppercase;
}
.ch-btn-skin{
	font-family: 'Julius Sans One', sans-serif;
}
.component.prominentProd .ch-carousel{
	background-color: transparent;
}
.component.prominentProd{
	border-bottom: none;
}
h3 .title-component{
	display: none;
}
/* Carrousel */
.ch-carousel{
	background: #ededed;
	padding: 10px 0 25px 0;
}
.component.newsProduct{
	display:none;
}
.component.itemGallery figure a img{
	padding: 8px 10px 8px 10px;
	background: #fff;
}
.component.itemGallery h2 {
	margin: 14px 0px 0px 14px;
	max-height: 4.1em;
	line-height: 1.1em;
	font-size: 1.5em;
	max-width: 193px;
	float: left;
}
.component.itemGallery h2 a.title{
	color: #e32684;
	text-decoration: none;
}
#homePrice{
	display:none;
}
.component.itemGallery li.background{
	height:auto;
}
.component.itemGallery article{
	min-height: 100%
}
.cinta-ws {
background-color: #41061c;
width: 98%;
padding: 20px 0;
margin: 0 10px;
color: #ecf0f1;
font-size: 30px;
text-align: center;
text-transform: uppercase;
}
section .component{
	background:#c2c0c1;
}
.ch-container .oneColumn{
	margin-top: 20px;
	background:#c2c0c1;
}
.center-footer {
	width:25%;
}
.left-footer, .center-footer{
	padding-top: 100px;
	float:left;
}
.left-footer{
	width:25%;
	margin-left:8%;
}
.right-footer{
	float:right;
	padding-top: 20px;
	width:40%;
}
.mnu-categorias, .mnu-base{
	list-style: none;
	color:#fff;
}
.mnu-categorias li a, .mnu-base li a{
	color:#fff;
	font-size: 1.3em;
	line-height: 3;
}
.mnu-foot1, .left-footer ul{
	padding-bottom: 10px;
	margin-left: 0%;
}
.mnu-pagos h3{
	font-size: 1.3em;
}
.navWrapper .ch-g4-5 {
width: 100%;
float: left;
}
footer .ch-container{padding:0;}
.ch-secondary.button, .ch-dropdown .button{
	border:0;
}
.searchBar{
	margin-top: 0px;
}
.component.prodCarousel{
	height:10px;
}
.header-instagram{
	color:#000;
	font-size: 12px;
	width:100%;
	text-align: left;
	height:50px;
}
.header-instagram a{
	color:#e32684;
	font-size: 16px;
}
.ico-instagram{
	width:34px;
	height:34px;
	background-image: url("../IMAGES/icon-instagram.png");
	display:block;
	float:left;
	margin-right: 10px;
	margin-top: 5px;
}
.txt-instagram{
	margin-top: 5px;
	display: block;
	padding-top: 12px;
	font-size: 14px;
}
.wrapper.bottom{
	padding-top: 20px;
}