@font-face {
	font-family: 'icomoon';
	src:url('fonts/icomoon.eot?9cbzrw');
	src:url('fonts/icomoon.eot?#iefix9cbzrw') format('embedded-opentype'),
		url('fonts/icomoon.woff?9cbzrw') format('woff'),
		url('fonts/icomoon.ttf?9cbzrw') format('truetype'),
		url('fonts/icomoon.svg?9cbzrw#icomoon') format('svg');
	font-weight: normal;
	font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
	font-family: 'icomoon';
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;

	/* Better Font Rendering =========== */
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.icon-wilmasanchez:before {
	content: "\e600";
	color:#fff;
	font-size: 3em;
}
.icon-facebook:before {
	content: "\e601";
	color:#fff;
	font-size: 2.5em;
}
.icon-instagram:before {
	content: "\e602";
	color:#fff;
	font-size: 2.5em;
	margin-left: 10px;
}
.icon-twitter:before {
	content: "\e603";
	color:#fff;
	font-size: 2.5em;
	margin-left: 25px;
}
.icon-pinterest:before {
	content: "\e604";
	color:#fff;
	font-size: 2.5em;
	margin-left: 35px;
}
